<%= form_with(model: @team, local: true) do |form| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
      <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <h3>Players</h3>
  <div id="players">
    <%= form.fields_for :players do |player_form| %>
      <div class="player-fields">
        <div class="field">
          <%= player_form.label :name %>
          <%= player_form.text_field :name %>
        </div>

        <div class="field">
          <%= player_form.label :age %>
          <%= player_form.number_field :age %>
        </div>

        <div class="field">
          <%= player_form.label :position %>
          <%= player_form.text_field :position %>
        </div>

        <%= player_form.hidden_field :_destroy %>
        <%= link_to 'Remove Player', '#', class: 'remove_player' %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
