<h1>Players</h1>

<%= link_to 'New Player', new_player_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.team.name if player.team %></td>
        <td>
          <%= link_to 'Show', player_path(player) %> |
          <%= link_to 'Edit', edit_player_path(player) %> |
          <%= link_to 'Destroy', player_path(player), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
