<div id="<%= dom_id match %>">
  <p>
    <strong>Location:</strong>
    <%= match.location %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= match.date %>
  </p>

  <p>
    <strong>Home team:</strong>
    <%= match.home_team_id %>
  </p>

  <p>
    <strong>Away team:</strong>
    <%= match.away_team_id %>
  </p>

</div>
